@use 'customs' as *;

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin alignCenter {
    justify-content: center;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin  btn {
    width: 95%;
    height: 3rem;
    border-radius: 10px;
}