@use "customs" as *;
@use "mixins" as *;

.navbar {
  height: 4rem;
  position: relative;

  .container {
    @include flexRow;
    @include absCenter;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (min-width: 992px) {
      width: 80%;
      height: 7rem;
      margin-top: 1rem;
      border-bottom: 1px solid rgba($color: $Grayish-blue, $alpha: 0.5);
      border-spacing: 4rem;
    }
  }

  .menu {
    @include flexRow;
    @include alignCenter;
    margin-left: 1.5rem;
    height: 1.5rem;

    @media (min-width: 992px) {
      margin-left: 0;
    }

    img {
      cursor: pointer;

      @media (min-width: 992px) {
        display: none;
      }
    }

    h1 {
      font-size: 2rem;
      margin: 0 0 0.5rem 1rem;

      @media (min-width: 992px) {
        margin-left: 0;
      }
    }

    .list {
      display: none;

      @media (min-width: 992px) {
        display: flex;

        ul {
          // @include flexRow;
          // justify-content: left;
          // align-items: center;
          height: 4rem;
          display: flex;
          position: absolute;
          top: 27%;

          li {
            list-style: none;
            margin-right: 1rem;
            color: $Dark-grayish-blue;
            cursor: pointer;
            margin-right: 1.5rem;
            height: 100%;

            &:hover {
              border-bottom: 3px solid $Orange;
              border-spacing: 4rem;
            }
          }
        }
      }
    }
  }

  .icons {
    @include flexRow;
    width: 6rem;
    height: 1.5rem;

    @media (min-width: 992px) {
      height: 2rem;
      margin-right: 0rem;
    }

    &--1 {
      transform: scale(0.8);
      cursor: pointer;

      @media (min-width: 992px) {
        transform: scale(0.6);
      }
    }

    &--2 {
      margin-left: 1rem;
      cursor: pointer;

      @media (min-width: 992px) {
        margin-left: 2rem;
        transform: scale(1.3);
      }
    }
  }
}
