// Import scss
@use "customs";
@use "navbar";
@use "products";
@use "mixins";
@use "overlay";
@use "animations";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
}
